<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8' />
        <link href='css/bootstrap.min.css' rel='stylesheet'>
        <link href='css/bootstrap-theme.min.css' rel='stylesheet'>
        <link href='css/mystyles.css' rel='stylesheet'>
        <!--<script type="text/javascript" src="js/jquery-2.1.4.js"></script>-->        
        <script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
        <script type="text/javascript" src='js/bootstrap.min.js'></script>
        <script type="text/javascript" src='js/reloj.js'></script>
        <script type="text/javascript" src="js/script.js"></script>
        <title>App-tracking-Node-Layout</title>
</head>
<body>

    {{{body}}}

</body>
</html>